<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lucas Silluzio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <div class="card-container">
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Open CV
                        <!-- <span class="date">Jan 19, 2020</span> -->
                    </div>
                </div>
                <h2 class="article-title">
                    Python
                </h2>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>
        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Web com Flask
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>
        </div>

        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Api nodejs
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>
        </div>

        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">

                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>
        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>
        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>
        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>
        <div class="card">
            <header class="article-header">
                <div>
                    <div class="category-title">
                        Article
                        <span class="date">Jan 19, 2020</span>
                    </div>
                </div>
                <div class="article-title">
                    Custom Theme with Angular Material
                </div>
            </header>
            <div class="author">
                <div class="profile"></div>
                <div class="info">
                    <div class="caption">Author</div>
                    <div class="name">David Hose</div>
                </div>
            </div>
            <div class="tags">
                <div>JavaScript</div>
                <div>HTML</div>
            </div>

        </div>


</body>

</html>